# Importing libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path= r'C:\Users\evygi\OneDrive\Documents\Instacart Basket Analysis'

In [4]:
df_prods = pd.read_csv(r'C:\Users\evygi\OneDrive\Documents\Instacart Basket Analysis\02. Original Data\products.csv', index_col = False)

In [5]:
#importing orders_product_combine
df_ords_prods_combined =pd.read_pickle(os.path.join (path, '02. Original Data\Prepared data\orders_products_combined.pkl'))

In [15]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_ords_prods_combined.shape

(32434489, 11)

In [15]:
# checking rows and columns of df_prods\n
df_prods.shape

(49693, 5)

In [7]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

# Question 5: Determining a suitable way to combine the orders_products_combined dataframe with your products data set

Answer: A suitable way to merge the two dataframes df_prods and df_ords_prods_combined is by the column product_id, found in both dataframes but i used a false indicator as i may not need it for futher analysis.

In [26]:
# Merging the ords_prods_combined df with the df_prods via the product_id column
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on ='product_id', indicator = False)

# Question 6: Confirm the results of the merge using the merge flag.

In [27]:
# checking df_ords_prods_merged dataframe
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [29]:
#Checking the values in the _merge column
df_ords_prods_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [30]:
#Checking the merged shape
df_ords_prods_merged.shape

(32434212, 15)

# Question 7: Export the newly created dataframe as orders_products_merged

In [32]:
#Exporting the newly merged dataframe; Using pickle format
df_ords_prods_merged.to_pickle(os.path.join(path, '02. original Data','Prepared Data', 'orders_products_merged.pkl'))