## Importing Libraries

## Grouping Data and Aggregating Variables

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating a path
path= r'C:\Users\evygi\OneDrive\Documents\Instacart Basket Analysis'

In [3]:
#Importing Dataset
ords_prods_merged = pd.read_pickle(os.path.join(path,'02. Data\Prepared data\orders_products_merged_updated.pkl'))

 ## Group data

In [6]:
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.773866
2                16.202916
3                16.256605
4                16.942583
5                15.373562
6                16.667046
7                16.602250
8                17.739400
9                15.956944
10               16.980392
11               16.351931
12               16.225365
13               16.920437
14               17.023529
15               16.730317
16               16.457729
17               16.759876
18               18.157716
19               16.217737
20               16.342099
21               16.416389

## Unlike the subset, the complete dataset shows the mean for every department.

In [8]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform('max')

In [9]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    234320
Loyal customer      134899
New customer         93283
Name: loyalty_flag, dtype: int64

## Create spending flag

ords_prods_merged.groupby('user_id').agg({'prices': ['mean']})

In [15]:
ords_prods_merged['spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform('mean')

In [17]:
ords_prods_merged.loc[ords_prods_merged['spending'] < 10, 'spending_flag'] = 'low spender'

In [18]:
ords_prods_merged.loc[ords_prods_merged['spending'] >= 10, 'spending_flag'] = 'high spender'

In [19]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

low spender     445095
high spender     17407
Name: spending_flag, dtype: int64

## Create order frequency flag

In [21]:
ords_prods_merged.groupby('user_id').agg({'days_since_last_order': ['median']})

        days_since_last_order
                       median
user_id
1                        20.5
2                        13.0
3                        10.0
4                        20.0
5                        11.0
...                       ...
3082                      6.5
3083                     21.0
3084                      7.0
3085                      9.0
3086                      2.0

[3086 rows x 1 columns]

In [22]:
ords_prods_merged['order_frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_last_order'].transform('median')

In [23]:
ords_prods_merged.loc[ords_prods_merged['order_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [24]:
ords_prods_merged.loc[(ords_prods_merged['order_frequency'] <= 20) & (ords_prods_merged['order_frequency'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [25]:
ords_prods_merged.loc[ords_prods_merged['order_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [26]:
ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        298969
Regular customer         107325
Non-frequent customer     56208
Name: order_frequency_flag, dtype: int64